<ion-header>
    <app-page-header [title]="'Association'"></app-page-header>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row color="primary" justify-content-center="">
            <ion-col align-self-center="" sizeXs="12" sizeMd="10" sizeLg="6" >
               <h1 class="text-center">Association "patrimoine en jeu"</h1>
                <ion-card padding="">
                    <ion-img  data-src="../../assets/img/imagePresentation.png" class="imgPresentation"></ion-img>
                    <ion-card-title>Faire connaitre et faire aimer notre
                        patrimoine bâti de manière ludique et
                        accessible</ion-card-title>
                    <ion-card-content>
                        • Création de circuits de découverte tous publics en fonction de leur
                        intérêt, du temps disponible, de leur moyen de locomotion
                        Parcours ludiques pour les enfants
                        Parcours « dégustation » : je goutte à tout
                        Parcours « experts » pour et par des passionnés
                    </ion-card-content>
                    <ion-card-content>
                        • Mettre en valeur et donner une seconde vie aux archives collectées
                        depuis des décennies par des particuliers, des associations et les
                        collectivités
                    </ion-card-content>
                    <ion-card-content>
                        • Mettre en valeur notre patrimoine bâti (et culturel) traditionnel en
                        synergie avec les différents acteurs locaux en espérant des retombées
                        (rénovations, tourisme, formation, artisans, filières de matériaux...)
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer>
    <app-page-footer></app-page-footer>
</ion-footer>
