<ion-header>
    <app-page-header [title]="'Application'"></app-page-header>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row color="primary" justify-content-center="">
            <ion-col align-self-center="" sizeXs="12" sizeMd="10" sizeLg="6" >
                <div class=" w-100 d-flex justify-content-center">
                    <ion-img src="assets/img/betaTest.jpg" class="imgBeta"></ion-img>
                </div>
                <h1 class="text-center">Application ( Actuellement en bêta test !)</h1>

                <ion-card padding="">
                    <ion-card-title>Les services</ion-card-title>
                    <ion-card-content>
                        Application en bêta. Des services sont à votre disposition, il est possible de :
                    </ion-card-content>
                    <ion-card-content>
                        - se localiser, voir les maisons à proximité avec leurs informations, leurs détails et un itinéraire pour y accéder.
                    </ion-card-content>
                    <ion-card-content>
                        - ajouter des maisons avec les paramètres requis, avec la possibilité de les modifier, ou de rajouter des détails par la suite.
                    </ion-card-content>
                    <ion-card-content>
                        Et plein d'autres choses sont à venir en attendant, profitez bien ! ;)
                    </ion-card-content>
                </ion-card>

                <ion-card padding="">
                    <ion-card-header>
                        <ion-title>Réalisé par:</ion-title>
                        <ion-card-content>
                            <div>
                            Les étudiants de l'Université de Haute-Alsace dans le programme UHA 4.0.
                            </div>
                            <div class=" w-100 d-flex justify-content-center">
                                <ion-img src="assets/img/logo_uha_40.png" class="img-uha"></ion-img>
                            </div>
                            <div class="w-100 d-flex justify-content-center">
                                <ul>
                                    <li>Adam Camille</li>
                                    <li>Diss Aurélien</li>
                                    <li>Mendes Orane</li>
                                    <li>Schwartz Anthony</li>
                                </ul>
                            </div>
                        </ion-card-content>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <app-page-footer></app-page-footer>
</ion-footer>
