<ion-header>
    <app-page-header [title]="'Contact'"></app-page-header>
</ion-header>

<ion-content class="ion-padding" text-center="">
    <ion-grid>
        <ion-row color="primary" justify-content-center="">
            <ion-col align-self-center="" sizeXs="12" sizeMd="10" sizeLg="6">
                <h1>Contact</h1>
                <h2>Contact par Email :</h2>
                <p>patrimoineenjeu@laposte.net</p>
                <h2>Contact par courier :</h2>
                <p>Adresse postal</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <app-page-footer></app-page-footer>
</ion-footer>
